
/* Collection fade in animation */
.headings h4 {
    animation: fadeInAnimation ease 4.5s forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


/* Animated hamburger (menu/x-animation) */

.header__x-animation-top-line {
	transform-origin: 100% 100%;
}

.header__x-animation-center-line {
	opacity: 1;
	transition: opacity 400ms linear;
}

.header__x-animation-bottom-line {
	transform-origin: 100% 0%;
}


@keyframes x-animation-top {
	0% {
		transform: rotate(0deg);
	}

	16% {
		transform: rotate(-7deg) scaleX(103%)
	}

	33% {
		transform: rotate(-15deg) scaleX(107%)
	}
	
	50% {
		transform: rotate(-22deg) scaleX(110%)
	}
	
	66% {
		transform: rotate(-30deg) scaleX(114%)
	}
	
	82% {
		transform: rotate(-37deg) scaleX(116%)		
	}

	100% {
		transform: rotate(-45deg) scaleX(122%)
		;
	}
}

@keyframes x-animation-bottom {
	0% {
		transform: rotate(0deg);
	}

	16% {
		transform: rotate(7deg) scaleX(103%)
	}

	33% {
		transform: rotate(15deg) scaleX(107%)
	}
	
	50% {
		transform: rotate(22deg) scaleX(110%)
	}
	
	66% {
		transform: rotate(30deg) scaleX(114%)
	}
	
	82% {
		transform: rotate(37deg) scaleX(116%)		
	}

	100% {
		transform: rotate(45deg) scaleX(122%)
		;
	}
}

@keyframes x-animation-center {
	0% {
		transform: opacity;
	}

	100% {

	}
}

/*  Drawer(nav) animation */

@keyframes drawerSlideDown {
	0% {
		transform: translateY(-100%)
	}
	
	100% {
		transform: translateY(0%)
		
	}
}

@keyframes drawerSlideUp {
	0% {
		transform: translateY(0%)
	}
	
	100% {
		transform: translateY(-100%)
		
	}
}


