:root {
	font-size: var(--font-size-base);
	font-family: var(--font-content);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*  TODO convert to rem and responsive */
.header__x-animation {
	width: 40px;
	height: 40px;
	margin: auto 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position:relative;
}

.header__x-line {
	width: 100%;
	height: 4px;
	background: black;

}

.nav-drawer {
	width: 100vw;
	height: 40vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font-headlines);
	font-size: var(--font-size-medium);
	font-weight: 400;
	background: var(--color-background);
	position: absolute;
}

.toogle-display {
	display: none;

}

.nav-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--margin-sections);

}

/*  Main */

.headings h1 {
	font-family: var(--font-headlines);
	font-weight: 500;
	font-size: var(--font-size-large);
	letter-spacing: 0.15rem;
	
}

.headings h4 {
	letter-spacing: 0.35rem;
}

body {
	width: 90vw;
	max-width: 1600px ;
	margin: 0 auto;
}

header {
	margin-bottom: calc(var(--margin-sections)*2);
	margin-top: calc(var(--margin-sections)*2);
}

.headings {
	display: flex;
	flex-direction: column;	
}

.image-caption-pair {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--margin-sections);	
	/* border: 1px solid red; */ 
}

video {
	width: 100%;
}

.image-caption-pair__text-aligment-container {
	background: var(--color-primary);
	width: 100%;
	height: 			

}

h2, h3, h4 {
	margin-bottom: var(--margin-small);
}

h2 {
	font-family: var(--font-headlines);
	font-weight: normal;
}

h3 {
	font-size: var(--font-size-small);
}

h4 {
	font-size: var(--font-size-small);
	font-weight: 300;
	letter-spacing: 2px;
	font-style: italic;
}

hr {
	margin: 0 auto;
	margin-bottom: var(--margin-sections);
	width: 80%;
	background: black;
}

footer {
	display: flex;
	flex-direction: column;
	place-items: center;
	margin-top: calc(var(--margin-sections)*4);
	margin-bottom: var(--margin-sections);
	gap: var(--margin-sections);
}

.footer__nav {
	display: flex;
	gap: var(--spacing-small);

}

@media screen and (min-width: 800px) {

	:root {
		font-size: var(--desktop-font-size-base);
	}
	
	.headings h1 {
		font-size: 2rem;
		letter-spacing: 0.8rem;
	}
	
	.headings h4 {
		letter-spacing: 0.8rem;
	}
	
	hr {
		display: none;
	}

	.image-caption-pair {
		flex-direction: row;
		margin-bottom: 0;	
	}

	main section:nth-of-type(2n) {	 /* Every 2nd on the right side */
		flex-direction: row-reverse;
	}
	
	video {
		width: 50%;
	}
	
	.image-caption-pair__text-aligment-container {
		width: 50%;
	}
}