:root {
	font-size: var(--font-size-base);
	font-family: var(--font-content);
	color: var(--color-foreground);
	transition: all 700ms ease;
}

body {
	width: 90vw;
	max-width: 1400px ;
	margin: 0 auto;
	background: var(--color-background);
	color: inherit;

}

/* Header section */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: calc(var(--margin-sections)*2);
	margin-top: calc(var(--margin-sections)*2);
}

.mode {
	width: 2.5rem;
	height: 1.2rem;
	border: 2px solid var(--color-foreground);
	border-radius: 10px;
	color: var(--color-foreground);
	font-size: var(--font-size-xsmall);	
	transform: rotate(90deg);
	margin-left: auto;
	
}

/*  TODO convert to rem and responsive */
.header__x-animation {
	width: 40px;
	height: 40px;
	margin: auto 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position:relative;
	z-index: 3;
}

.header__x-line {
	width: 100%;
	height: 4px;
	background: var(--color-foreground);

}

.nav-drawer {
	width: 100vw;
	height: 40vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font-headlines);
	font-size: var(--font-size-medium);
	font-weight: 400;
	background: var(--color-background);
	position: absolute;
	transform: translateY(-100%);
	z-index: 2;
}

.header__nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--margin-sections);
}

.header__nav span {
transition: all 300ms ease;
}

.header__nav span:hover {
	transform: scale(1.2);
}

.headings h1 {
	font-family: var(--font-headlines);
	font-weight: 500;
	font-size: var(--font-size-large);
	letter-spacing: 0.15rem;
}

.headings h4 {
	letter-spacing: 0.35rem;
}

.headings {
	display: flex;
	flex-direction: column;	
}

/*  Main section */

.image-caption-pair {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--margin-sections);	
	/* border: 1px solid red; */ 
}

video {
	width: 100%;
}

.image-caption-pair__text-aligment-container {
	background: var(--color-primary);
	width: 100%;
	height: ; /* TODO: Mobile height same as video */	
	padding: 5px;	

}

h2, h3, h4 {
	margin-bottom: var(--margin-small);
}

h2 {
	font-family: var(--font-headlines);
	font-weight: normal;
}

h3 {
	font-size: var(--font-size-small);
}

h4 {
	font-size: var(--font-size-small);
	font-weight: 300;
	letter-spacing: 2px;
	font-style: italic;
}

hr {
	margin: 0 auto;
	margin-bottom: var(--margin-sections);
	width: 80%;
	background: var(--color-foreground);
	border: 1px solid var(--color-foreground);
}

/* Footer section */

footer {
	display: flex;
	flex-direction: column;
	place-items: center;
	margin-top: calc(var(--margin-sections)*4);
	margin-bottom: var(--margin-sections);
	gap: var(--margin-sections);
}

.footer__nav {
	display: flex;
	gap: var(--margin-large);
}

.footer__nav span {
	transition: all 300ms ease;
}
	
.footer__nav span:hover {
	transform: scale(1.2);
}



/*  Tablet / Desktop / Landscape  */

@media screen and (min-width: 800px) {

	
	.headings h1 {
		font-size: 2rem;
		letter-spacing: 0.8rem;
	}
	
	.headings h4 {
		letter-spacing: 0.8rem;
	}
	
	hr {
		display: none;
	}

	.image-caption-pair {
		flex-direction: row;
		margin-bottom: 0;	
	}

	main section:nth-of-type(2n) {	 /* Every 2nd on the right side */
		flex-direction: row-reverse;
	}
	
	video {
		width: 50%;
	}
	
	.image-caption-pair__text-aligment-container {
		width: 50%;
		padding: 30px;
	}

	.mode {		
		width: 54px;
		height: 30px;
		font-size: var(--font-size-base);	
		transform: translate(0, 15rem);
		margin-left: none;	
		position: fixed;
		top: 10rem;
		right: 0;
		transform: rotate(90deg);
		border-width: 3px ;

	}
}

/* Desktop */
@media screen and (min-width: 1210px) {
	:root {
		font-size: var(--desktop-font-size-base);
	}		
}

