:root {
	font-size: var(--font-size-base);
	font-family: "inter", sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
}

body {
	width: 90vw;
	margin: 0 auto;
}

.headings {
	display: flex;
	flex-direction: column;
	
}

.image-caption-pair {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--margin-sections);
	/* border: 1px solid red; */
}

video {
	width: 100%;
}

.image-caption-pair__text-aligment-container {
	background: var(--color-primary);
	width: 100%;
	height: auto;
}

h2, h3, h4 {
	margin-bottom: var(--margin-small);
}

h3 {
	font-size: var(--font-size-small);
}

h4 {
	font-size: var(--font-size-small);
	font-weight: 300;
	letter-spacing: 2px;
	font-style: italic;
}

hr {
	margin: 0 auto;
	margin-bottom: var(--margin-sections);
	width: 80%;
	background: black;
}


@media screen and (min-width: 800px) {
	hr {
		display: none;
	}

	.image-caption-pair {
		flex-direction: row;
		margin-bottom: 0;	
	}

	main div:nth-of-type(2n) {	
		flex-direction: row-reverse;
	}
	
	video {
		width: 50%;
	}
	
	.image-caption-pair__text-aligment-container {
		width: 50%;
	}
}