:root {

	--font-size-base: 18px;
	--font-size-small: 1rem;
	--font-size-medium: 1.6rem;

	--desktop-font-size-base: 26px;
	--desktop-font-size-small: 1rem;
	--desktop-font-size-medium: 1.6rem;

	/* --font-leading-base: 1rem;
	--font-leading-small: 1rem;
	--font-leading-medium: 1rem;
	--font-leading-large: 1rem; */

	--spacing-small: var(--font-leading-base);
	--spacing-medium: 2rem;
	--spacing-large: 4rem;

	--color-background: white;
	--color-foreground: black;
	--color-primary: #F1EADE;

	--margin-small: 0.34rem;
	--margin-sections: 0.83rem;
}