:root {
	--font-headlines: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
	--font-content: "inter", sans-serif;

	--font-size-base: 18px;
	--font-size-xsmall: 0.7rem;
	--font-size-small: 0.85rem;
	--font-size-medium: 1.4rem;
	--font-size-large: 1.8rem;

	--desktop-font-size-base: 26px;
	--desktop-font-size-small: 1rem;
	--desktop-font-size-medium: 1.6rem;

	/* --font-leading-base: 1rem;
	--font-leading-small: 1rem;
	--font-leading-medium: 1rem;
	--font-leading-large: 1rem; */

	--color-background: white;
	--color-foreground: black;
	--color-primary: #F1EADE;

	--margin-small: 0.34rem;
	--margin-large: 1rem;
	--margin-sections: 0.83rem;
}